<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/campus_travle</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <mapping resource="im/hdy/model/UserEntity.hbm.xml"/>
        <mapping class="im.hdy.model.UserEntity"/>
        <mapping class="im.hdy.model.ProvicesEntity"/>
        <mapping resource="im/hdy/model/ProvicesEntity.hbm.xml"/>
        <mapping resource="im/hdy/model/UniversitysEntity.hbm.xml"/>
        <mapping class="im.hdy.model.UniversitysEntity"/>
        <mapping resource="im/hdy/model/PackageCompanyEntity.hbm.xml"/>
        <mapping class="im.hdy.model.PackageCompanyEntity"/>
        <mapping resource="im/hdy/model/PackageSizeEntity.hbm.xml"/>
        <mapping class="im.hdy.model.PackageSizeEntity"/>
        <mapping resource="im/hdy/model/PostHouseEntity.hbm.xml"/>
        <mapping class="im.hdy.model.PostHouseEntity"/>
        <mapping resource="im/hdy/model/ProvicesLocationEntity.hbm.xml"/>
        <mapping class="im.hdy.model.ProvicesLocationEntity"/>
        <mapping resource="im/hdy/model/ReciverEntity.hbm.xml"/>
        <mapping class="im.hdy.model.ReciverEntity"/>
        <mapping resource="im/hdy/model/SenderEntity.hbm.xml"/>
        <mapping class="im.hdy.model.SenderEntity"/>
        <mapping resource="im/hdy/model/BigMaintainEntity.hbm.xml"/>
        <mapping class="im.hdy.model.BigMaintainEntity"/>
        <mapping class="im.hdy.model.ClazzEntity"/>
        <mapping resource="im/hdy/model/ClazzEntity.hbm.xml"/>
        <mapping class="im.hdy.model.CourseSchedulingEntity"/>
        <mapping resource="im/hdy/model/CourseSchedulingEntity.hbm.xml"/>
        <mapping class="im.hdy.model.SemesterEntity"/>
        <mapping resource="im/hdy/model/SemesterEntity.hbm.xml"/>
        <mapping resource="im/hdy/model/SmallMaintainEntity.hbm.xml"/>
        <mapping class="im.hdy.model.SmallMaintainEntity"/>
        <mapping resource="im/hdy/model/StudentCampusEntity.hbm.xml"/>
        <mapping class="im.hdy.model.StudentCampusEntity"/>
        <mapping resource="im/hdy/model/StudentCampusAreaEntity.hbm.xml"/>
        <mapping class="im.hdy.model.StudentCampusAreaEntity"/>
        <mapping class="im.hdy.model.StudentClassEntity"/>
        <mapping resource="im/hdy/model/StudentClassEntity.hbm.xml"/>
        <mapping resource="im/hdy/model/StudentCollegeEntity.hbm.xml"/>
        <mapping class="im.hdy.model.StudentCollegeEntity"/>
        <mapping class="im.hdy.model.StudentProfessionEntity"/>
        <mapping resource="im/hdy/model/StudentProfessionEntity.hbm.xml"/>
        <mapping resource="im/hdy/model/StudentProfessionDetailEntity.hbm.xml"/>
        <mapping class="im.hdy.model.StudentProfessionDetailEntity"/>
        <mapping class="im.hdy.model.TeacherEntity"/>
        <mapping resource="im/hdy/model/TeacherEntity.hbm.xml"/>
        <mapping resource="im/hdy/model/ReapirStatusEntity.hbm.xml"/>
        <mapping class="im.hdy.model.ReapirStatusEntity"/>
        <mapping resource="im/hdy/model/RepairReportEntity.hbm.xml"/>
        <mapping class="im.hdy.model.RepairReportEntity"/>
        <mapping resource="im/hdy/model/UserAuthrityEntity.hbm.xml"/>
        <mapping class="im.hdy.model.UserAuthrityEntity"/>
        <mapping resource="im/hdy/model/AuthorityEntity.hbm.xml"/>
        <mapping class="im.hdy.model.AuthorityEntity"/>
        <mapping resource="im/hdy/model/OneCardEntity.hbm.xml"/>
        <mapping class="im.hdy.model.OneCardEntity"/>
        <mapping resource="im/hdy/model/OneCardConsumeEntity.hbm.xml"/>
        <mapping class="im.hdy.model.OneCardConsumeEntity"/>
    </session-factory>
</hibernate-configuration>